@model List<JSMS.Models.VMModels.VMApplies>
@{
    Layout = "~/Views/Shared/HomeFounder.cshtml";
}

<div class="container mt-4">
    <h2 class="mb-4 text-center text-primary">Candidate Applications</h2>
     
    <form asp-action="ExportExel" method="post">
    <div>
        <button class="btn btn btn-success m-2">Export Exel</button>
    </div>
    </form>

    <div class="card shadow-lg">
        <div class="card-body p-0">
            <table class="table table-striped table-hover mb-0">
                <thead class="bg-primary text-white">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Employee Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Resume</th>
                        <th scope="col">Post Name</th>
                        <th scope="col">Remark</th>
                        <th scope="col" class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        int sr = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@sr</td>
                                <td>@item.EmpName</td>
                                <td>@item.EmpEmail</td>
                                <td>
                                    <a href="@item.EmpResumeUrl" target="_blank" class="btn btn-outline-info btn-sm">
                                        View Resume
                                    </a>
                                </td>
                                <td>@item.Post_name</td>
                                <td>@item.Remark</td>
                                <td class="text-center">
                                    <form asp-action="Decision" asp-controller="Founder" method="post">
                                        <input type="hidden" name="ApplyId" value="@item.Apply_id" />

                                        <button type="button" name="Apply_id" onclick="window.location.href='/Founder/EditApply/@item.Apply_id'" class="btn btn-dark btn-sm">
                                            Response
                                        </button>
                                    </form>

                                </td>
                            </tr>
                            sr++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="text-center text-muted py-3">
                                No applications found.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
